In [1]:
# Importing the libraries
import pandas as pd
import numpy as np  
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
# Load the dataset
df = pd.read_csv('customer_shopping_data.csv')

In [3]:
df.describe()

                age      quantity         price
count  99453.000000  99457.000000  99457.000000
mean      43.432134      3.003429    689.256321
std       15.008140      1.413025    941.184567
min        2.000000      1.000000      5.230000
25%       30.000000      2.000000     45.450000
50%       43.000000      3.000000    203.300000
75%       56.000000      4.000000   1200.320000
max      155.000000      5.000000   5250.000000

In [4]:
df.head()

,invoice_no,customer_id,gender,age,category,quantity,price,payment_method,invoice_date,shopping_mall
0,I138884,C241288,Female,28.0,Clothing,5,1500.40,Credit Card,5/8/2022,Kanyon
1,I317333,C111565,NaN,21.0,Shoes,3,1800.51,Debit Card,12/12/2021,Forum Istanbul
2,I127801,C266599,Male,20.0,Clothing,1,300.08,Cash,9/11/2021,Metrocity
3,I173702,C988172,Female,66.0,Shoes,5,3000.85,Credit Card,16/05/2021,Metropol AVM
4,I337046,C189076,Female,53.0,Books,4,60.60,Cash,24/10/2021,Kanyon

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99457 entries, 0 to 99456
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   invoice_no      99457 non-null  object
 1   customer_id     99457 non-null  object
 2   gender          99446 non-null  object
 3   age             99453 non-null  float64
 4   category        99457 non-null  object
 5   quantity        99457 non-null  int64
 6   price           99457 non-null  float64
 7   payment_method  99457 non-null  object
 8   invoice_date    99457 non-null  object
 9   shopping_mall   99454 non-null  object
dtypes: float64(2), int64(1), object(7)
memory usage: 7.6+ MB

In [6]:
# Checking for null values
print(df.isnull().sum())

invoice_no         0
customer_id        0
gender            11
age                4
category           0
quantity           0
price              0
payment_method     0
invoice_date       0
shopping_mall      3
dtype: int64

We can see that our dataset has columns with null values

Now, we have the option to either drop records having null values or impute them with mean, median, mode

In [7]:
print(df.describe())

                age      quantity         price
count  99453.000000  99457.000000  99457.000000
mean      43.432134      3.003429    689.256321
std       15.008140      1.413025    941.184567
min        2.000000      1.000000      5.230000
25%       30.000000      2.000000     45.450000
50%       43.000000      3.000000    203.300000
75%       56.000000      4.000000   1200.320000
max      155.000000      5.000000   5250.000000

#### Handling Missing Entries

In [8]:
df = df.dropna(subset=['gender'])

median_age = df['age'].median()
df["age"]=df['age'].fillna(median_age)

df = df.dropna(subset=['shopping_mall'])

print(df.isnull().sum())

invoice_no        0
customer_id       0
gender            0
age               0
category          0
quantity          0
price             0
payment_method    0
invoice_date      0
shopping_mall     0
dtype: int64

Age: We have decided to impute this data with mean as the age data is typically not heavily skewed, so the mean provides a sensible replacement for missing values.

Gender: We have decided to drop missing records in this column because the number of missing records are less compared to the total number of records.

Store Location: Dropping missing records seemed like a better option as the missing records were less, and imputing doesn't really improve the quality of the dataset